<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.brodysoft.cordova.sqlcipher"
    version="0.1.3-dev">

    <name>Cordova sqlcipher adapter</name>

    <license>MIT</license>

    <description>SQLCipher database adapter plugin for PhoneGap/Cordova, based on the Cordova-SQLitePlugin. Allows you to use more storage and provides more flexibility than the standard Web SQL database (window.openDatabase).</description>
    <author>Various</author>

    <engines>
        <engine name="cordova" version=">=3.3.0" />
    </engines>

    <js-module src="www/SQLitePlugin.js" name="SQLitePlugin">
        <clobbers target="SQLitePlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="android-package" value="io.liteglue.SQLitePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/io/liteglue/SQLitePlugin.java" target-dir="src/io/liteglue"/>

        <!-- SQLiteGlue Java (sources): -->
        <source-file src="src/android/net/sqlc/SQLCode.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/net/sqlc/SQLDatabaseHandle.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/net/sqlc/SQLGDatabaseHandle.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/net/sqlc/SQLStatementHandle.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/net/sqlc/SQLiteConnection.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/net/sqlc/SQLiteConnector.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/net/sqlc/SQLiteGlueConnection.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/net/sqlc/SQLiteGlueConnector.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/net/sqlc/SQLiteOpenFlags.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/net/sqlc/SQLiteStatement.java" target-dir="src/net/sqlc"/>
        <source-file src="src/android/org/sqlg/SQLiteGlue.java" target-dir="src/org/sqlg"/>

        <!-- SQLiteGlue NDK lib [SQLCipher distribution for Android]: -->
        <source-file src="src/android/sqlcipher/libs/armeabi/libsqlg.so" target-dir="libs/armeabi" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="ios-package" value="SQLitePlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/SQLitePlugin.h" />
        <source-file src="src/ios/SQLitePlugin.m" />

        <!-- SQLCipher source distribution and Security.framework dependency for iOS: -->
        <!-- [TEMP TBD] using [latest version] from src/windows tree! -->
        <header-file src="src/windows/SQLite3-WinRT/SQLite3/sqlite3.h" />
        <source-file src="src/windows/SQLite3-WinRT/SQLite3/sqlite3.c" />
        <framework src="Security.framework" />

    </platform>

    <platform name="windows">
        <js-module src="src/windows/SQLiteProxy.js" name="SQLiteProxy">
            <merges target="" />
        </js-module>

        <!-- SQLite3 JS module from SQLite3-WinRT/SQLite3JS: -->
        <js-module src="src/windows/SQLite3-WinRT/SQLite3JS/js/SQLite3.js" name="SQLite3">
            <merges target="" />
        </js-module>

        <!-- Thanks to AllJoyn-Cordova / cordova-plugin-alljoyn: -->
        <framework src="src/windows/SQLite3-WinRT/SQLite3/SQLite3.Windows/SQLite3.Windows.vcxproj" custom="true" type="projectReference" target="windows" />
        <framework src="src/windows/SQLite3-WinRT/SQLite3/SQLite3.WindowsPhone/SQLite3.WindowsPhone.vcxproj" custom="true" type="projectReference" target="phone" />

    </platform>

</plugin>

<!-- vim: set expandtab : -->
